<h1>Requests for <%= @patient.firstname %> <%= @patient.lastname %></h1>
<table>
<tr>
<th>Request details</th>
</tr>
<% for request in @request %>
<tr>
<td><%= request.request %></td>
<td><%= request.comments %></td>
<td><%= request.date %></td>
<td><%= link_to 'Show', patient_request_path(@patient, request)
%></td>
<td><%= link_to 'Edit', edit_patient_request_path(@patient, request)
%></td>
<td><%= link_to 'Destroy', patient_request_path(@patient, request),
:confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'New patient request', new_patient_request_path(@patient), class: "btn btn-default" %>
<%= link_to 'Back to Patient', @patient, class: "btn btn-default" %>

