<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SmartHealth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">	
            <li><%= link_to 'Patients', patients_path %></li>
            <li><%= link_to 'Profile', '/profiles' %></li>
	    <li><%= link_to 'Prescriptions', prescriptions_path %></li>
            <li><%= link_to 'Report', report_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
<p id="notice"><%= notice %></p>


      <div class="starter-template">

<h1>Patients Report</h1>

<table class="table table-striped table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><%= sortable "id" %></th>
      <th><%= sortable "firstname" %></th>
      <th><%= sortable "lastname" %></th>
      <th><%= sortable "dob" %></th>
      <th><%= sortable "address" %></th>
      <th><%= sortable "phone" %></th>
      <th><%= sortable "injury" %></th>
      <th><%= sortable "observations" %></th>
      <th><%= sortable "doctors" %></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
	<td><%= patient.id %></td>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.address %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.injury %></td>
        <td><%= patient.observations %></td>
        <td><%= patient.doctor %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, class: "btn btn-default" %> | 
<%= link_to 'Go to Profile', '/profiles', class: "btn btn-default" %> 
              
</div>
