 <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SmartHealth</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Patients', patients_path %></li>
            <li><%= link_to 'Profile', '/profiles' %></li>
	     <li><%= link_to 'Prescriptions', prescriptions_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">


      <div class="starter-template">

<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
ID: <%=@patient.id %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @patient.phone %>
</p>

<p>
  <strong>Injury:</strong>
  <%= @patient.injury %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @patient.observations %>
</p>
<!--display the requests for this patient -->
<h2>Requests</h2>
<% @patient.requests.each do |request| %>
<p>
<b>Request details:</b>
</br>
<%= request.request %>
</br>
<%= request.comments %>
</br>
<%= request.date %>
</br>
<%= request.created_at %>
</p>
<% end %>

<!--display the requests for this patient -->
<h2>Prescriptions</h2>
<% @patient.prescriptions.each do |pres| %>
<p>
<b>Prescription details:</b>
</br>
<%= pres.medicine %>
</br>
<%= pres.dose %>
</br>
<%= pres.created_at %>
</p>
<% end %>

<%= link_to 'Edit Patient', edit_patient_path(@patient), class: "btn btn-default" %> |
<%= link_to 'Back', patients_path, class: "btn btn-default"  %> |
<%= link_to 'Show Requests', patient_requests_path(@patient), class: "btn btn-default"  %> |
<%= link_to 'Show Prescriptions', prescriptions_path, class: "btn btn-default" %>

</div>
</div>
</body>
